@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }
body{
  margin: 0;
  padding: 0;
  background-color: #f2b454;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3{
  color: #f2b454;
  font-weight: 400;
}
ol{
  margin-left: 50px;
}
.terms-box{
  max-width: 700px; 
  background-color: #111;
  color: #fff;
  padding: 60px 30px;
}
.terms-text{
  padding: 0 20px;
  height: 400px;
  overflow: auto;
  font-size: 14px;
  font-weight: 500;
  color: #f1f1f1;
  line-height: 3vh;
}
.terms-text::-webkit-scrollbar{
  width: 2px;
  background-color: #f2b454;
}
.terms-text::-webkit-scrollbar-thumb{
  background-color: #a52a25;
}
.terms-text h2{
  text-transform: uppercase;
}
.terms-box h4{
  font-size: 13px;
  text-align: center;
  padding: 30px 40px;
}
.terms-box h4 span{
  color: #a52a25;
}
.buttons {
  display: flex;
  padding: 0 20px; 
  justify-content: space-between;
}
.btn{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .3s linear;
}
.red-btn{
  background-color: #f2b454;
}
.gray-btn{
  background-color: #a52a25;
}
.btn:hover{
  opacity: 0.6;
}